<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }
</style>
<div class="container">
  <div class="row orderFrm">
    <div class="col-md-12">
      <form name="orderFrm" role="form" novalidate class="css-form">
        <fieldset >
          <table class="table">
            <tbody>
              <tr>
                <td><label>Order Id</label></td>
                <td><input required type="text" name="orderID" id="orderID" ng-model="data.orderId" class="form-control" disabled/></td>
                <td><label>PO Number</label></td>
                <td><input required type="text" name="poNumber" id="poNumber" ng-model="data.poNumber" class="form-control" ng-disabled="isDisabled"/></td>
                <td><label>Supplier</label></td>
                <td><input required type="text" name="supplierId" id="supplierId" ng-model="data.supplierId" class="form-control" disabled/></td>
              </tr>

              <tr>
                <td><label>Steel Heat Number</label></td>
                <td><input required type="text" name="steelHeatNumber" id="steelHeatNumber" ng-model="data.steelHeatNumber" class="form-control"  ng-disabled="isDisabled" /></td>
                <td><label>Already Available Steel Tonnage</label></td>
                <td><input required type="number" name="aaST" id="aaST" ng-model="data.alreadyAvailableSteelTonage" class="form-control" ng-disabled="isDisabled" ng-change="getTotalSteelTonnage()"/></td>
                <td><label>New Steel To Buy</label></td>
                <td><input disabled required type="number" name="nsBuy" id="nsBuy" ng-model="data.newSteelToBuy" class="form-control" ng-disabled="isDisabled" ng-change="getTotalSteelTonnage()"/></td>
              </tr>

              <tr>
                <td><label>Total Steel Tonnage</label></td>
                <td><input required type="number" name="st" id="st" class="form-control" ng-model="data.steelTonage"  disabled /></td>
                <td><label>Ref. Standard</label></td>
                <td><input required type="text" name="refStd" id="refStd" class="form-control" ng-model="data.refStandard" ng-disabled="isDisabled"/></td>
                <td><label>Forger Supplier Code</label></td>
                <td><input required type="text" name="forSupCode" id="forSupCode" class="form-control" ng-model="data.forgerSupplierCode" ng-disabled="isDisabled"/></td>
              </tr>
              <tr>
                <td><label>Steel Mill</label></td>
                <td>
                 <select class="form-control" id="sel1" ng-model="data.steelMill" ng-disabled="isDisabled">
                   <option ng-repeat="option in data.steelMills" value="{{option}}">{{option}}</option>
                 </select>
               </td>

             </tr>
           </tbody>
         </table>
         <table class="table">
          <tbody>
            <tr>
              <td colspan="9" style="padding:0px;"><label style="width:100%;padding:0px;"><div style="width:100%;" class="well well-sm">Part Details</div></label></td>
            </tr>
            <tr>

              <td><label>Part Number</label></td>
              <td><label>Status</label></td>
              <td><label>Part weight (kg)</label></td>
              <td><label>Cut Weight (Kg)</label></td>
              <td><label>Number Of Parts</label></td>


            </tr>
            <tr ng-repeat="row in data.partDetails">
             <td><input  type="text" name="refStd" id="refStd" class="form-control" ng-model="row.number" disabled/></td>
             <td><input  type="checkbox" name="refStd" id="refStd" class="form-control" ng-model="row.status" ng-true-value="'CHECKED'" ng-false-value="'UNCHECKED'" ng-disabled="isDisabled"/></td>
             <td><input  type="number" name="refStd" id="refStd" class="form-control" ng-model="row.weight" ng-disabled="isDisabled" ng-change="row.noOfParts=row.weight/row.cutWeight" min="1" max="data.steelTonage" ng-min="1" ng-max="data.steelTonage" /></td>
             <td><input  type="number" name="refStd" id="refStd" class="form-control" ng-model="row.cutWeight" ng-disabled="isDisabled" ng-change="row.noOfParts=row.weight/row.cutWeight"
             min="1" max="data.steelTonage"  ng-min="1" ng-max="data.steelTonage"/></td>
             <td><input  type="number" name="refStd" id="refStd" class="form-control" ng-model="row.noOfParts" disabled/></td>
           </td>
         </tr>
       </tbody>
     </table>
     <table class="table">
      <tbody>
        <tr>
          <td colspan="9" style="padding:0px;"><label style="width:100%;padding:0px;"><div style="width:100%;" class="well well-sm">Documents</div></label></td>
        </tr>
        <tr>
          <td><label>Requirement</label></td>
          <td><label>Status</label></td>
          <td ng-if="data.status == 'APPROVED' || data.status == 'FHTV_SUBMITTED'"><label>Test</label></td>
          <td><label>Attchment</label></td>
          <td><label>Remark</label></td>
        </td>
      </tr>
      <tr ng-repeat="row in data.checkList">
       <td>{{row.name}}</td>
       <td><input  type="checkbox" name="refStd" id="refStd" class="form-control" ng-model="row.status" ng-true-value="'CHECKED'"  ng-false-value="'UNCHECKED'" ng-disabled="isAttmentDisable"/></td>
       <td><input  type="text" name="refStd" id="refStd" ng-model="row.testName" ng-disabled="true" ng-if="data.status == 'APPROVED' || data.status == 'FHTV_SUBMITTED'"/></td>
       <td><input  type="file" name="refStd" id="refStd" ng-model="row.attachmentName" ng-disabled="isAttmentDisable"/></td>
       <td><input  type="text" name="refStd" id="refStd" class="form-control" ng-model="row.remark" ng-disabled="isAttmentDisable"/></td>
     </td>
   </tr>

 </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <td colspan="9" style="padding:0px;"><label style="width:100%;padding:0px;"><div style="width:100%;" class="well well-sm">Deviation</div></label></td>
    </tr>
    <tr>
      <td><label>CIL Deviation Number</label></td>
      <td><input  type="text"  class="form-control" ng-model="data.cilDevitionNumber" ng-disabled="isCILEditable" /></td>
      <td><label>Requestor Name</label></td>
      <td><input  type="text" class="form-control" ng-model="data.requesterName" ng-disabled="isDisabled"/></td>
      <td><label>Request Date</label></td>
      <td><input  type="date" class="form-control" ng-model="data.requestDate" ng-disabled="isDisabled"/></td>
    </tr>

    <tr>
      <td><label>Part Description</label></td>
      <td colspan="3"><textarea class="form-control" rows="5" id="partDesc" ng-model="data.partDescription" ng-disabled="isDisabled"></textarea></td>
      <td><label>RM Section</label></td>
      <td><input  type="text" name="aaST" id="aaST" ng-model="data.rmSection" class="form-control" ng-disabled="isDisabled" /></td>

    </tr>

    <tr>
      <td><label>RM Grade*</label></td>
      <td><input  type="text" name="st" id="st" class="form-control" ng-model="data.rmGarde" ng-disabled="isDisabled" /></td>
      <td><label>Quantity for Deviation*</label></td>
      <td><input  type="text" name="refStd" id="refStd" class="form-control" ng-model="data.quantityForDeviation" ng-disabled="isDisabled"/></td>
      <td><label>Delivery Affected</label></td>
      <td><input  type="text" name="forSupCode" id="forSupCode" class="form-control" ng-model="data.delivaryAffected" ng-disabled="isDisabled"/></td>
    </tr>
    <tr>
      <td><label>Description of / Reason for Deviation Request</label></td>
      <td colspan="5">
       <input  type="text" class="form-control" ng-model="data.description" ng-disabled="isDisabled"/>
     </td>

   </tr>
 </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <td colspan="9" style="padding:0px;"><label style="width:100%;padding:0px;"><div style="width:100%;" class="well well-sm">Comment</div></label></td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="comment" ng-model="data.comment"></textarea>
        </div>
      </td>

    </tr>
  </tbody>
</table>
<table class="table" ng-show="showCourier">
  <tbody>
      <tr>
      <td><label>Courier Receipt Number</label></td>
      <td><input  type="text" class="form-control" ng-disabled="showCurrier" ng-model="data.courierReceipt"/></td>
      <td><label>Courier Company </label></td>
      <td><input  type="text" class="form-control" ng-model="data.courierCompany"/></td>
      <td><label>Courier Delivary Date </label></td>
      <td><input  type="date"  class="form-control" ng-model="data.courierDate"/></td>
    </tr>
  </tbody>
</table>
<table class="table">
  <tbody>
    <tr>
      <td colspan="9" style="padding:0px;"><label style="width:100%;padding:0px;"><div style="width:100%;" class="well well-sm">Comment By CIL</div></label></td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <textarea ng-disabled="enableCILComments" class="form-control" rows="5" id="commentCIL"></textarea>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <input ng-disabled="enableCILComments" type="file" name="cilAttachment" id="cilAttachment" />
        </div>
      </td>
    </tr>
  </tbody>
</table>

</fieldset>





<button ng-if="loggedInUser.type=='Supplier'" type="button" class="btn btn-primary" ng-click="save()" ng-show="data.status == 'NEW'"  >Save</button>
<button ng-if="loggedInUser.type=='Supplier'" type="button" class="btn btn-primary" ng-click="update()" ng-show="data.status == 'SAVED'" >Update</button>
<button ng-if="loggedInUser.type=='Supplier'" type="button" class="btn btn-primary" ng-click="submit()" ng-show="data.status == 'NEW' || data.status == 'SAVED'" >Submit</button>

<button ng-if="loggedInUser.type=='Supplier'" type="button" class="btn btn-primary" ng-click="ftTreatment()" ng-show="data.status == 'APPROVED'">SUBMIT FHT</button>

<button ng-if="loggedInUser.type=='Admin'" type="button" class="btn btn-primary" ng-click="approve()" ng-show="data.status == 'SUBMITTED'" >Approve</button>
<button ng-if="loggedInUser.type=='Admin'" type="button" class="btn btn-danger" ng-click="reject()" ng-show="data.status == 'SUBMITTED'" >Reject</button>

<button ng-if="loggedInUser.type=='Admin'" type="button" class="btn btn-primary" ng-click="reject()" ng-show="data.status == 'FHTV_SUBMITTED'" >FHT Update</button>

 
</form>
</div>
</div>
</div>