<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Supplier Name</th>
        <th>PO No</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
        <td>{{order.orderId}}</td>
        <td>{{order.supplierName}}</td>
        <td>{{order.poNumber}}</td>
        <td>  <div class="btn btn-static" ng-style="{{getStatusColor(order.status)}}"><span ng-class="getStatusclass(order.status)"> </span> &nbsp &nbsp {{order.status}}</div>
            </td>
        <td>
           <button class="btn btn-primary" ng-click="view(order)"><span class="glyphicon glyphicon-pencil"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>